/Debug/


//忽略项目不必要的文件
CMSIS
STM32F1xx_HAL_Driver
STM32F4xx_HAL_Driver

//忽略CubeIDE(Eclipse)生成的文件
.settings
*.launch

//支持MDK-ARM编译
MDK-ARM/*
!MDK-ARM/RTE
!MDK-ARM/*.uvoptx
!MDK-ARM/*.uvprojx
!MDK-ARM/*.s
/Release/
